/*rewrite bootstrap image paths*/

[class^="icon-"],
[class*=" icon-"] {
	background-image: url("../img/lib/glyphicons-halflings.png");
}

.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
	background-image: url("../img/lib/glyphicons-halflings-white.png");
}

/*rewrite jquery-ui image paths*/

.ui-widget-content { background-image: url(../img/lib/jquery-ui/ui-bg_flat_75_ffffff_40x100.png);/*{bgImgUrlContent}*/ }
.ui-widget-header { background-image: url(../img/lib/jquery-ui/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { background-image: url(../img/lib/jquery-ui/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background-image: url(../img/lib/jquery-ui/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background-image: url(../img/lib/jquery-ui/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  { background-image: url(../img/lib/jquery-ui/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { background-image: url(../img/lib/jquery-ui/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/; }
.ui-icon { background-image: url(../img/lib/jquery-ui/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-content .ui-icon { background-image: url(../img/lib/jquery-ui/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-header .ui-icon { background-image: url(../img/lib/jquery-ui/ui-icons_222222_256x240.png)/*{iconsHeader}*/; }
.ui-state-default .ui-icon { background-image: url(../img/lib/jquery-ui/ui-icons_888888_256x240.png)/*{iconsDefault}*/; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon { background-image: url(../img/lib/jquery-ui/ui-icons_454545_256x240.png)/*{iconsHover}*/; }
.ui-state-active .ui-icon { background-image: url(../img/lib/jquery-ui/ui-icons_454545_256x240.png)/*{iconsActive}*/; }
.ui-state-highlight .ui-icon { background-image: url(../img/lib/jquery-ui/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/; }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon { background-image: url(../img/lib/jquery-ui/ui-icons_cd0a0a_256x240.png)/*{iconsError}*/; }
.ui-widget-overlay { background-image: url(../img/lib/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/; }
.ui-widget-shadow { background-image: url(../img/lib/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/; }

/*app styles*/
.table-hover tbody tr td a {
	visibility: hidden;
}

.table-hover tbody tr:hover td a {
	visibility: inherit;
}