<ul class="nav nav-list">
	<li data-bind="css:{active:addResource.active()}"><a data-bind="attr:{href:addResource.href}">New Account</a></li>
	<li class="nav-header">Accounts</li>
	<li>
		<ul class="nav nav-list" data-bind="foreach:accounts">
			<!-- ko if:active -->
			<li data-bind="css:{active:resource.active()}"><a data-bind="attr:{href:resource.href},text:name"></a></li>
			<!-- /ko -->
		</ul>
	</li>
	<li class="nav-header" data-bind="toggle:showAll">Inactive Accounts</li>
	<li data-bind="bsCollapse:showAll">
		<ul class="nav nav-list" data-bind="foreach:accounts">
			<!-- ko ifnot:active -->
			<li data-bind="css:{active:resource.active()}"><a data-bind="attr:{href:resource.href},text:name"></a></li>
			<!-- /ko -->
		</ul>
	</li>
</ul>