<div class="btn-toolbar">
	<div class="btn-group">
		<a class="btn" data-bind="attr:{href:addEntryUri.href}"><i class="icon-file"></i> <span data-bind="text:i18n.accountToolbar.entryAdd"></span></a>
		<a class="btn" data-bind="attr:{href:selectedEntryHref},css:{disabled:!selectedEntryHref()}"><i class="icon-pencil"></i> <span data-bind="text:i18n.accountToolbar.entryEdit"></span></a>
	</div>
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-folder-close"></i> <span data-bind="text:i18n.accountToolbar.accountMenu"></span></a>
		<ul class="dropdown-menu">
			<li><a data-bind="attr:{href:editHref}"><i class="icon-pencil"></i> <span data-bind="text:i18n.accountToolbar.accountEdit"></span></a></li>
			<li><a data-bind="click:del"><i class="icon-trash"></i> <span data-bind="text:i18n.accountToolbar.accountDelete"></span></a></li>
		</ul>
	</div>
</div>