<form class="form-horizontal" data-bind="submit:save">
	<div class="control-group">
		<label class="control-label" for="account-name" data-bind="text:i18n.accountEdit.name"></label>
		<div class="controls">
			<input id="account-name" type="text" data-bind="value:name"/>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="account-active" data-bind="text:i18n.accountEdit.active"></label>
		<div class="controls">
			<input id="account-active" type="checkbox" data-bind="checked:active"/>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn" data-bind="text:i18n.common.form.save"></button>
			<button type="button" class="btn" data-bind="click:cancel,text:i18n.common.form.cancel"></button>
			<!-- ko if:existing -->
			<button type="button" class="btn" data-bind="click:del,text:i18n.common.form.del"></button>
			<!-- /ko -->
		</div>
	</div>
</form>