<ul class="nav nav-list">
	<li data-bind="css:{active:addUri.active()}"><a data-bind="attr:{href:addUri.href},text:i18n.list.add"></a></li>
	<li class="nav-header" data-bind="toggle:show.active,text:i18n.list.activeSection"></li>
	<li data-bind="bsCollapse:show.active">
		<ul class="nav nav-list" data-bind="foreach:entries">
			<!-- ko if:active -->
			<li data-bind="css:{active:uri.active()}"><a data-bind="attr:{href:uri.href},text:name"></a></li>
			<!-- /ko -->
		</ul>
	</li>
	<li class="nav-header" data-bind="toggle:show.inactive,text:i18n.list.inactiveSection"></li>
	<li data-bind="bsCollapse:show.inactive">
		<ul class="nav nav-list" data-bind="foreach:entries">
			<!-- ko ifnot:active -->
			<li data-bind="css:{active:uri.active()}"><a data-bind="attr:{href:uri.href},text:name"></a></li>
			<!-- /ko -->
		</ul>
	</li>
</ul>