<ul class="nav nav-list">
	<li data-bind="css:{active:addUri.active()}"><a data-bind="attr:{href:addUri.href},text:i18n.transactionMenu.add"></a></li>
	<li class="nav-header" data-bind="text:i18n.transactionMenu.search"></li>
	<li>
		<form data-bind="submit:search">
			<div class="control-group">
				<div class="controls">
					<input class="span2" id="tx-search-start" type="text"
							data-bind="attr:{placeholder:i18n.transactionMenu.startDate,title:i18n.transactionMenu.startDate},juDatepicker:{before:'#tx-search-end',value:searchParams.startDate},value:searchParams.startDate"/>
					<input class="span2" id="tx-search-end" type="text"
							data-bind="attr:{placeholder:i18n.transactionMenu.endDate,title:i18n.transactionMenu.endDate},juDatepicker:{after:'#tx-search-start',value:searchParams.endDate},value:searchParams.endDate"/>
					<input class="span2" id="tx-search-account" type="text" data-bind="attr:{placeholder:i18n.transactionMenu.account,title:i18n.transactionMenu.account},bsTypeahead:findAccount,value:searchParams.account"/>
					<input class="span2" id="tx-search-investment" type="text" data-bind="attr:{placeholder:i18n.transactionMenu.investment,title:i18n.transactionMenu.investment},bsTypeahead:findInvestment,value:searchParams.investment"/>
					<select class="span2" id="tx-search-type" data-bind="attr:{title:i18n.transactionMenu.type},foreach:types,value:searchParams.type">
						<option data-bind="attr:{value:id},text:desc"></option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn" data-bind="text:i18n.transactionMenu.search"></button>
					<button type="button" class="btn" data-bind="click:reset,text:i18n.transactionMenu.clear"></button>
				</div>
			</div>
		</form>
	</li>
</ul>